body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url(../svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */

}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
   font-weight: 700;
   color: #39ADD1;
}



header {
  padding-top: 10px;
  margin: 0 1em;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}
ul {
 display: block;
 width: 90%;
 margin: auto;
 text-align: center;
 list-style-type: none;
 color: #39ADD1;
 font-weight: 700;
 padding-left: 0;


}
  header nav ul li a:hover path {
     color: #b76e79;
     fill: currentColor;
     transition: .2s ease-in-out;
     transform: scaleX(1.4);

}

a:hover {

  color: #b76e79;
}

header nav ul li a {
  display: inline-block;
  margin-right: 20px;
  padding-left: 10px;
 border-bottom: 4px solid gray;
 border-radius: .6em;
 width: 100%;
 margin-bottom: .5em;


}


header nav ul li a .st0 {
  fill: #39ADD1;
}

h1 {
text-align: center;
}

main {
  padding-top: 50px;
  margin: 0 1em;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}
path.st1 {
  opacity: 1;
}

.logo {
  display: block;
  margin: auto;
  width: 150px;
}

.logo:hover {
  transition: transform .7s ease-in-out;
  transform: rotate(360deg);
}
.dog1 {
  color: #BA8058;
}

.dog2 {
  color: #EAAA7F;
}
.dog3 {
  color: #702809;
}
.dog4 {
  color: #727B84;
}
.mouth{
  color: #FBFEFF;
}
.brows{
  color: #DA8058;

}
.dog1:hover, .dog2:hover, .dog3:hover, .dog4:hover {
  transform-origin: 50% 50%;
  transition: transform .4s ease-in-out;
  transform: rotate(-5deg);
}


.corgi_text {
  display: block;
  padding-right: 30px;
   color:#BA8058;

}
.flex {
  margin: auto;
}
/******************Pseudo classes********************/


@media(min-width: 425px ) {
  path.st1 {
    opacity: 0;
  }

  ul {
    display: flex;

  }
  header nav ul li a {
    border-bottom: none;
  }
  .flex  {
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
  }



}
